@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAF4F2;
    font-family: "Poppins", sans-serif;
}

.w-1440 {
    width: 1440px;
}

.wrap {
    margin: 0 auto;
    padding-top: 112px;
    padding-left: 182px;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 54px;
    width: 240px;
    height: 48px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

ul a {
    text-decoration: none;
}

h1 {
    color: #222;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 167px;
}

.header-title {
    width: 475px;
    height: 124px;
}

.header-about-mohammad {
    width: 509px;
    height: 144px;
    margin-top: 7px;
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.header li {
    width: 48px;
    height: 48px;
}

.header-buttons {
    display: flex;
    margin-top: 25px;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.button-send-req {
    width: 151px;
    height: 55px;
    text-align: center;
    padding: 14px 13px;
    border-radius: 10px;
    background: #FF2950;
    color: #F9F9F9;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.button-download-cv {
    width: 153px;
    height: 55px;
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    padding: 14px 13px;
}

.button-send-req, .button-download-cv:hover {
    cursor: pointer;
}

.header-img {
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section__about-projects {
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
    margin: 125px 150px;
    display: flex;
    justify-content: left;
    gap: 32px;
}

.section__about-projects img {
    margin-top: 93px;
    margin-left: 32px;
}

.section__about-projects h2 {
    color: #F9F9F9;
    font-family: "Poppins", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    width: 163px;
    height: 62px;
    margin-top: 62px;
}

.section__about-projects p {
    width: 570px;
    color: #F9F9F9;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    margin-top: 16px;
}

.section__about-projects h3 {
    color: #F9F9F9;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    width: 419px;
    height: 62px;
    margin-top: 19px;
}

.section__why-hire-me {
    margin: 0 150px 125px;
}

.section__why-hire-me h2 {
    color: #222;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 100px;
}

.list-advantages-img {
    width: 98px;
    height: 98px;
    background-color: rgba(34, 34, 34, 0.1);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.list-advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.w-240 {
    width: 240px;
}

.section__why-hire-me h3 {
    color: #222;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-top: 51px;
}

.section__why-hire-me p {
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 12px;
}

.section__portfolio h2 {
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%;
    text-transform: capitalize;
    margin-left: 150px;
    margin-bottom: 64px;
}

.section__portfolio-projects {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 310px 310px 310px;
    gap: 24px;
    justify-content: center;
    align-content: center;
}

.section__feedback {
    width: 1440px;
    height: 643px;
    background: #FF7315;
    margin: 125px 0;
    display: flex;
    flex-direction: column;
}

.section__feedback h2 {
    color: #F9F9F9;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.section__feedback-title {
    width: 609px;
    height: 120px;
    margin: 48px 415px 111px;
}

.section__feedback-text {
    width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    padding-top: 24px;
    padding-left: 55px;
    padding-right: 55px;
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.d-flex {
    display: flex;
    justify-content: center;
    gap: 82px;
}

.section__price h2 {
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%;
    text-transform: capitalize;
    text-align: center;
}

.section__price-cards {
    margin: 64px 150px 100px;
    display: flex;
    gap: 67px;
}

.price-plan {
    width: 335px;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FF9B70;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    color: #F9F9F9;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%;
    text-transform: capitalize;
    text-align: center;
    align-content: center;
}

.price-card {
    width: 335px;
    height: 510px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);
}

.section__price p {
    text-align: center;
    color: #2B2B2B;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%;
    text-transform: capitalize;
    margin-top: 32px;
}

.hour {
    color: #2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    opacity: 0.5;
    margin-top: 20px;
}

.price-card ul {
    display: block;
    align-items: center;
    margin-top: 25px;
    color: #222;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    padding-left: 48px;
}

.price-card ul li {
    margin-bottom: 16px;
}

.silver li:nth-child(1)::before,
.silver li:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 16px;
    margin-top: -4px;
    background-image: url("images/Check.png");
    background-size: cover;
    transform: translateY(30%);
}

.silver li:nth-child(n+3)::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 16px;
    margin-top: -4px;
    background-image: url("images/Close.png");
    background-size: cover;
    transform: translateY(30%);
}

.silver li:nth-child(n+3) {
    opacity: 0.5;
}

.gold li:nth-child(1)::before,
.gold li:nth-child(2)::before,
.gold li:nth-child(3)::before,
.gold li:nth-child(4)::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 16px;
    margin-top: -4px;
    background-image: url("images/Check.png");
    background-size: cover;
    transform: translateY(30%);
}

.gold li:nth-child(n+5)::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 16px;
    margin-top: -4px;
    background-image: url("images/Close.png");
    background-size: cover;
    transform: translateY(30%);
}

.gold li:nth-child(n+5) {
    opacity: 0.5;
}

.diamond li:nth-child(n)::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    margin-right: 16px;
    margin-top: -4px;
    background-image: url("images/Check.png");
    background-size: cover;
    transform: translateY(30%);
}

.section__contact {
    width: 1110px;
    height: 224px;
    border-radius: 25px;
    background: #FF7315;
    margin-left: 165px;
    display: flex;
    align-items: center;
    gap: 333px;
    margin-bottom: 125px;
}

.section__contact-question {
    width: 343px;
    height: 124px;
    color: #F9F9F9;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    margin-left: 75px;
}

.section__contact-email {
    width: 259px;
    height: 70px;
    border-radius: 10px;
    background: #F9F9F9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
    border: none;
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section__blog h3 {
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 48px;
}

.section__blog {
    margin: 0 150px 125px;
}

.section__blog-container {
    display: flex;
    gap: 20px;
}

.card {
    width: 270px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
}

.section__blog img {
    border-radius: 5px;
    margin: 14px;
}
.section__blog h4 {
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    text-transform: capitalize;
    margin: 10px 21px 12px 16px;
}
.section__blog p {
    width: 240px;
    height: 70px;
    flex-shrink: 0;
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 14px;
    text-transform: capitalize;
}
footer h4{
    width: 1440px;
    height: 170px;
    background: #F1F1F1;
    color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    align-content: center;
}